button, .btn, input[type="submit"] {
    display: inline-block;
    padding: .325rem .75rem;
    margin-bottom: 0;
    font-weight: normal;
    font-family: Verdana, sans-serif;
    font-size: var(--base-font-size);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    background: var(--primary-color);
    color: var(--white);
    text-decoration: none;

    &.btn--danger {
        background: var(--danger-color);
    }
}